.login_container
{
    width: auto;
    min-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px)
{
    .login_container
    {
        width: 95%;
        min-width: 400px;
    }

    .login_container_desc
    {
        display: none;
    }
}

.login_gradient
{
    color: white;
    background: #020024;
    background: linear-gradient(90deg,rgba(2,0,36,1)0%,rgba(9,9,121,1)35%,rgba(0,212,255,1)100%);
    padding: 50px;
}

